<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.backendsystem.dao.ModuleTableMapper">
  <resultMap id="BaseResultMap" type="com.jnshu.backendsystem.pojo.ModuleTable">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="menuld" jdbcType="VARCHAR" property="menuld" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="parent_module_ID" jdbcType="INTEGER" property="parentModuleId" />
    <result column="module_category" jdbcType="VARCHAR" property="moduleCategory" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_update" jdbcType="BIGINT" property="gmtUpdate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>

  <!--获取模块管理列表-->
  <select id="qureyModuleList" resultMap="BaseResultMap">
    select id,name,url,parent_module_ID,module_category,gmt_create,gmt_update,create_by,update_by from module_table
  </select>

  <!--获取单个模块信息-->
  <select id="qureyModuleInfoById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id,name,url,parent_module_ID,module_category from module_table where id = #{id,jdbcType=INTEGER}
  </select>

  <!--删除单个模块信息-->
  <delete id="deleteModuleById" parameterType="java.lang.Integer">
    delete from module_table
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!--新增模块信息-->
  <insert id="insertModuleInfo" parameterType="com.jnshu.backendsystem.pojo.ModuleTable">
    insert into module_table ( name, menuld,url, parent_module_ID, module_category,gmt_create,create_by)
    values ( #{name,jdbcType=VARCHAR}, #{menuld,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR}, #{parentModuleId,jdbcType=INTEGER}, #{moduleCategory,jdbcType=VARCHAR},
    #{gmtCreate,jdbcType=BIGINT},#{createBy,jdbcType=VARCHAR})
  </insert>

  <!--更新模块信息-->
  <update id="updateModuleById" parameterType="com.jnshu.backendsystem.pojo.ModuleTable">
    update module_table
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuld != null">
        menuld = #{menuld,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentModuleId != null">
        parent_module_ID = #{parentModuleId,jdbcType=INTEGER},
      </if>
      <if test="moduleCategory != null">
        module_category = #{moduleCategory,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
   where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>